<html>
<body class = "btn-pTool">
<ul class="page-header">
    <label style=" color: gray; font-size: large; b;" >Home </label>

    </ul>
<p style=" color: gray; font-size: medium; ">Select Boiler </p>
</body>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/Chart.bundle.js"></script>
<script src="/javascripts/Chart.js"></script>

<!--<script src="http://bootstrapdocs.com/v2.0.2/docs/assets/js/bootstrap-dropdown.js"></script>-->


</html>